<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ t('brand.board') }}
    </ion-title>
    <app-language-toggle slot="end" placement="toolbar"></app-language-toggle>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ t('brand.board') }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>{{ t('brand.board') }}</strong>
    <p>{{ t('brand.footer') }}</p>
  </div>
</ion-content>
