<ion-content [fullscreen]="false" [scrollY]="true" class="affiliation-form-content">
  <section class="form-panel">
    <div class="section-title">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <h1>{{ t('affiliation_password.heading') }}</h1>
    </div>
    <p>{{ t('affiliation_password.subtitle') }}</p>

    <div *ngIf="setup" class="setup-summary">
      {{ t('affiliation_sync.hib_number') }}: <strong>{{ setup.household_head_chfid }}</strong>
    </div>

    <ion-item lines="none" class="form-item">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input
        [type]="passwordType()"
        [label]="t('affiliation_password.password')"
        label-placement="stacked"
        [placeholder]="t('login.password_requirement')"
        [(ngModel)]="password">
      </ion-input>
      <button slot="end" type="button" class="eye-btn" (click)="showPassword = !showPassword">
        <ion-icon [name]="passwordIcon()"></ion-icon>
      </button>
    </ion-item>

    <ion-item lines="none" class="form-item">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input
        [type]="passwordType(true)"
        [label]="t('affiliation_password.confirm_password')"
        label-placement="stacked"
        [placeholder]="t('login.reenter_password')"
        [(ngModel)]="passwordConfirmation">
      </ion-input>
      <button slot="end" type="button" class="eye-btn" (click)="showPasswordConfirmation = !showPasswordConfirmation">
        <ion-icon [name]="passwordIcon(true)"></ion-icon>
      </button>
    </ion-item>

    <ion-button expand="block" (click)="createPassword()" [disabled]="loading">
      <ion-spinner *ngIf="loading" name="crescent" slot="start"></ion-spinner>
      {{ loading ? t('common.saving') : t('affiliation_password.submit') }}
    </ion-button>
  </section>
</ion-content>
